* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: 2px solid transparent;
  background: transparent;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

dialog {
  color: inherit;
  border: none;
  padding: 0;
  overflow: visible;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
}

button, input {
  outline: none;
}

button.styled {
  border-color: lightgray;
  padding: 12px 24px;
}

button:focus, input:focus {
  border-color: red;
  border-style: dashed;
}
