* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

dialog {
  color: inherit;
  border: none;
  padding: 0;
  overflow: visible;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
}
